<div class="modal">
    <div class="modal-content animate">
        <div class="w3-container" style="background-color: #551055; color: white;">
            <h2>Add new API
                <span (click)="swaggerService.isNewApi=false" class="close">&times;</span>
            </h2>
        </div>
        <div class="w3-container" style="padding-top: 35px;">
            <p class="w3-padding">
                <label class="w3-text-purple"><b>Swagger Json Url</b></label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="api.swaggerUrl"></p>
            <p class="w3-padding">
                <label class="w3-text-purple"><b>Api Description</b></label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="api.desc"></p>
            <p>
                <button (click)="AddApi()" [disabled]="loaded" class="addApibtn"
                    [disabled]='api.swaggerUrl==""'>Add</button>
            </p>
        </div>
    </div>
</div>