.modal-header {
  padding: 2px 16px;
}
.modal-body {
  padding: 2px 16px;
}
.addApibtn{
  margin: 10px 35%;
  color: #551055;
  border: 1px solid #551055;
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin-top: 40px;
}
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* Enable scroll if needed */
  /* overflow: auto; */
  overflow-x: hidden;
  overflow-y: auto;
  /* background-image: url("/assets/pictures/logo.PNG"); */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 7% auto 7% auto; /* 5% from the top, 15% from the bottom and centered */
  /* מסגרת כללית */
  /* border: 6px solid #888; */
  /* גודל הלוגין */
  width: 40%; /* Could be more or less, depending on screen size */
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
  /* The Close Button (x) */
.close {
  left: 25px;
  top: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  opacity: 0.5;
  float: right;
}
.close:hover, .close:focus {
  color:  white;
  cursor:pointer;
  opacity: 1.0;
}
:disabled{
  cursor: not-allowed;
}