.components{
    width: 30%;
    float: right;
    color: #d1c1fd;
    background-color: #36374d;
    margin-right: 5%;
    overflow-y: scroll;
    max-height: 75vh;
}
:host >>> .ui-widget {
    width: 55%;
    margin-left: 5%;
    margin-top: 2%;
    overflow-y: auto;
    max-height: 69vh;
}
:host >>> .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
    color: #36374d  !important;
    color: #8b76c4  !important;
}
.description{
    color: #171825;
}
:host >>> .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a{
    background-color: #36374d;
}
:host >>> .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a:hover{
    background-color: #8b76c4;
}
th, strong{
    color: #854e79; 
    text-align: left;
}
label{
    color: #bc498f !important;
}
button{
    color:  #36374d;
    cursor: pointer;
    margin-left: 5%;
    font-weight: bold;
    padding: 12px; /* Some padding */ 
    border: 2px solid #36374d; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    /* margin-top: 30px; Add a top margin */
    margin-bottom: 5px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
button:hover{
    background-color: #36374d;
color: white;
}
button:disabled{
    cursor: no-drop;
}
:host >>> .glyphicon-pencil:hover{
    color: #218385 !important;
    font-size: 20px !important;
    cursor: pointer !important;
}
.edit{
    background-color: #d2d2d2f5;
    border: none;
    border-radius: 50%;
    color: #36374d;
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}
.w3-container{
    background-color: rgb(247, 220, 247);
    height: 657px;
}
.back{
    color: #531c5e;
    cursor: pointer;
    float:right;
    margin: 25px;
}
.back:hover{
    text-decoration: underline;
}
a{
    cursor: pointer;
}