<body *ngIf="isLoad" class="w3-container">
    <a class="back" (click)="swaggerService.goHome()">Back Home</a>
    <section>
        <button (click)="deleteApi()()" >
            Delete Api</button>
        <h1 style="color: #36374d; margin-left: 5%; width: 50%;">{{system.url}}</h1>
        <span *ngIf="!iseditSys" style="color: #36374d; margin-left: 5%; font-size: 30px;">{{system.description}}</span>
        <div *ngIf="!iseditSys" (click)="iseditSys=1; editSys=system.description" mat-button pTooltip="edit"
            tooltipPosition="right" class="pi pi-pencil edit"></div>
        <textarea *ngIf="iseditSys" pInputTextarea [(ngModel)]="editSys" style="margin-left: 5%;"></textarea>
        <div *ngIf="iseditSys"
            (click)="iseditSys=0; system.description=editSys; swaggerService.sysToEdit[system.systemId] = editSys; hasToSave=true"
            mat-button pTooltip="save" tooltipPosition="right" class="pi pi-check
    edit"></div>
        <div *ngIf="iseditSys" (click)="iseditSys=0" mat-button pTooltip="cancel" tooltipPosition="right"
            class="pi pi-times edit"></div>

        <button (click)="saveAll()" [disabled]="(!hasToSave)||onSaving">
            <span *ngIf="!onSaving">Save all changes</span> <span *ngIf="onSaving">Saving....</span></button>
    </section>

    <section class="components">
        <h1 style="color: #8b76c4; margin-left: 10px;">Schemas:</h1>
        <pre>{{ components | json }}</pre>
    </section>

    <section class="col-sm-8">
        <p-accordion [multiple]="false" *ngIf="system">
            <p-accordionTab *ngFor="let path of system.pathTbl" [header]="'['+ path.httpType+']  ' +path.url">
                <strong>Method Description: </strong>
                <span *ngIf="!iseditDes">{{path.description}}</span>
                <div *ngIf="!iseditDes" (click)="iseditDes=1; editDecs=path.description" mat-button pTooltip="edit"
                    tooltipPosition="right" class="pi pi-pencil edit"></div>
                <textarea *ngIf="iseditDes" pInputTextarea [(ngModel)]="editDecs" style="margin: 5px;"></textarea>
                <div *ngIf="iseditDes"
                    (click)="iseditDes=0; path.description=editDecs; swaggerService.pathDescToEdit[path.pathId] = editDecs;swaggerService.pathReturnToEdit[path.pathId] = path.pathReturn;hasToSave=true"
                    mat-button pTooltip="save" tooltipPosition="right" class="pi pi-check
            edit"></div>
                <div *ngIf="iseditDes" (click)="iseditDes=0" mat-button pTooltip="cancel" tooltipPosition="right" class="pi pi-times
            edit"></div>
                <br>
                <strong>Method Name: </strong>
                <span *ngIf="!iseditName">{{path.pathName}}</span>
                <div *ngIf="!iseditName" (click)="iseditName=1; editName=path.pathName" mat-button pTooltip="edit"
                    tooltipPosition="right" class="pi pi-pencil edit"></div>
                <input *ngIf="iseditName" type="text" pInput maxlength="25" [(ngModel)]="editName" style="margin: 5px;">
                <div *ngIf="iseditName"
                    (click)="iseditName=0; path.pathName=editName; swaggerService.pathNameToEdit[path.pathId] = editName;swaggerService.pathDescToEdit[path.pathId] = path.description; swaggerService.pathReturnToEdit[path.pathId] = path.pathReturn;hasToSave=true"
                    mat-button pTooltip="save" tooltipPosition="right" class="pi pi-check
            edit"></div>
                <div *ngIf="iseditName" (click)="iseditName=0" mat-button pTooltip="cancel" tooltipPosition="right"
                    class="pi pi-times
            edit"></div>
                <table *ngIf="path.fieldTbl.length>0">
                    <th>Parameters:</th>
                    <th>Description:</th>
                    <tr *ngFor="let field of path.fieldTbl">
                        <td style="width: 200px;">
                            <div style="color: #838080f5;">
                                <!-- <strong style="color: #838080f5 !important;">id:
                                </strong>{{field.fieldId}}<br> -->
                                <strong style="color: #4d4b4bf5 !important;">name:
                                </strong>{{field.fieldName}}<br>
                                <strong style="color: #4d4b4bf5 !important;">type:
                                </strong>{{field.fieldType}}<br><br>
                            </div>
                        </td>
                        <td style="width: 200px;">
                            <label class="description">{{field.description}}</label>
                        </td>
                        <td style="width: 200px;">
                            <div style="margin-left: 30px;">
                                <span
                                    *ngIf='editField!=field.fieldId && (field.description==""||field.description==null)'>
                                    <a (click)="editField=field.fieldId;editDecs=field.description">add
                                        description</a><br>
                                </span>
                                <span
                                    *ngIf="editField!=field.fieldId && (field.description!=''&&field.description!=null)">
                                    <a (click)="editingField(field)">edit</a><br>
                                </span>
                                <span *ngIf="editField==field.fieldId">
                                    <a (click)="saveEditing(field)">
                                        save</a> |
                                    <a (click)="cancleEditing()"> cancel</a><br>
                                    <textarea pInputTextarea [(ngModel)]="editDecs"></textarea>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
                <strong> Return: </strong>
                <span *ngIf="!iseditReturn">{{path.pathReturn}}</span>
                <div *ngIf="!iseditReturn" (click)="iseditReturn=1; editPathReturn=path.pathReturn" mat-button
                    pTooltip="edit" tooltipPosition="right" class="pi pi-pencil edit"></div>
                <textarea *ngIf="iseditReturn" pInputTextarea [(ngModel)]="editPathReturn"
                    style="margin: 5px;"></textarea>
                <div *ngIf="iseditReturn"
                    (click)="iseditReturn=0; path.pathReturn=editPathReturn; swaggerService.pathReturnToEdit[path.pathId] = editPathReturn; swaggerService.pathDescToEdit[path.pathId] = path.description; hasToSave=true"
                    mat-button pTooltip="save" tooltipPosition="right" class="pi pi-check
            edit"></div>
                <div *ngIf="iseditReturn" (click)="iseditReturn=0" mat-button pTooltip="cancel" tooltipPosition="right"
                    class="pi pi-times
            edit"></div>
            </p-accordionTab>
        </p-accordion>
    </section>
</body>
<div *ngIf="(!isLoad)||isUpdate" class="w3-display-middle"> <img [src]="spinner"></div>
