<body *ngIf="isLoad" class="w3-container">
    <section class="w3-cl m2"></section>
    <section class="w3-col m4">
        <h3 style="color: purple; font-weight: bold;">Existing APIs</h3>
        <div class="apisList">
            <div *ngFor="let api of swaggerService.ApisList" class="api" (click)="getApi(api.systemId)">
               <h4><strong>{{api.description}}</strong></h4> {{api.swaggerUrl}}
            </div>
        </div>
    </section>
    <section>
        <div class="add" (click)="swaggerService.isNewApi=true">
            <i class="plus">+</i><br>
            Add New API
        </div>
    </section>
    <app-new-api *ngIf="swaggerService.isNewApi" (closed)="swaggerService.isNewApi=false" (editApi)="getApi($event)">
    </app-new-api>
</body>