.api{
    background-color: #e3caf1;
    padding: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 1px 1px 6px 1px #808080cc;
    color: #5d065d;
    cursor: pointer;
    height: 85px;
    /* padding-top: 35px; */
}
.api:hover{
    box-shadow: 1px 1px 5px 3px #5d065d;
}
.apisList{
    overflow-y: auto;
    max-height: 600px;
}
.add{
    background-color: #e3caf1;
    width: 30%;
    float: right;
    padding: 20px;
    margin: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    border-radius: 10px;
    color: #5d065d;
    cursor: pointer;
}
.add:hover {
    box-shadow: 1px 1px 5px 3px #5d065d;
}
.plus{
    font-size: 50px;
    font-weight: 1000;
}
.w3-col.m4{
    width: 33.33333%;
    margin-left: 10%;
    margin-top: 5%;
}
.w3-container {
    background-color: #f4f4f4;
    height: 657px;
}