.login{
padding:10% 30%
}
.login>button{
  border: none;
  border-radius: 4px;
width: max-content;
font-size:30px;
color: #e3caf1;
background-color: #5d065d;
padding:  20px 40px;
}
.title{
  color:#5d065d ;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}
label{
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin-left: 10%;  
    padding-bottom: 20%;
    color: #5d065d;
    font-weight: bold;
}
/* button{
    background-color: transparent;
    color: #5d065d;
    font-weight: bold;
    width: 100%; 
    height: 150px;
    padding: 12px; 
    border: 1px solid #5d065d;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 30px; 
    margin-bottom: 5px; 
    resize: vertical
  } */
  button:hover{
    box-shadow: 1px 1px 5px 3px #5d065d;
  }
.w3-container {
    background-color: #e3caf1;
    height: 657px;
}