<body class="w3-container">
    <h2 class="title">Wellcome our Swagger CMS:)</h2>
    <div class="login">
        <!-- <label>Input Api Url</label><br> -->
        <button class="w3-display-middle"  (click)="Send()">Login</button>
    </div>
</body>